<form action="/favourite" method="POST">
  <input type="hidden" name="ID" value="<%= home.ID %>">
  <button class="bg-red-400 p-3 text-white hover:bg-green-400 rounded-lg">Add to Favourite</button>
</form>