<header>
  <nav>
  <a
    href="add-home"
    class="inline-block bg-blue-500 text-white text-lg font-semibold px-6 py-3 rounded-lg shadow hover:bg-blue-600 transition duration-300"
  >
    Add Home
  </a>
  <a
    href="/"
    class="inline-block bg-blue-500 text-white text-lg font-semibold px-6 py-3 rounded-lg shadow hover:bg-blue-600 transition duration-300"
  >
   Airbnb
  </a>
  <a
    href="/homes"
    class="inline-block bg-blue-500 text-white text-lg font-semibold px-6 py-3 rounded-lg shadow hover:bg-blue-600 transition duration-300"
  >
   Homes
  </a>

  <a
    href="/favourite"
    class="inline-block bg-blue-500 text-white text-lg font-semibold px-6 py-3 rounded-lg shadow hover:bg-blue-600 transition duration-300"
  >
   Favourites
  </a>
  <a
    href="/Host-homes"
    class="inline-block bg-blue-500 text-white text-lg font-semibold px-6 py-3 rounded-lg shadow hover:bg-blue-600 transition duration-300"
  >
   Host Homes
  </a>

</nav>
</header>